.myStyle {
    background-color: blanchedalmond;
    color: black;
    border: 1px solid black;
}

#main-table,
#main-table th,
#main-table td {
    border: 1px solid black;
}

#paging-panel-bottom {
    display: flex;
    align-items: center;
    gap: 5px;
}

#page-buttons-bottom {
    display: flex;
    gap: 5px;
}

.page-button {
    padding: 4px 8px;
    cursor: pointer;
    border-color: black;
    border-radius: 3px
}

.page-button.active {
    font-weight: bold;
    background-color: blanchedalmond;
    color: black;
}

.page-button:hover {
    background-color: antiquewhite;
    color: black;
}

.action-icon.edit-icon {
    background-color: blanchedalmond;
    mix-blend-mode: multiply;
}

.action-icon.delete-icon {
    background-color: blanchedalmond;
    mix-blend-mode: multiply;
}

.action-icon {
    cursor: pointer;
}

.action-icon:hover {
    opacity: 0.7;
}
