.myStyle {
    background-color: blanchedalmond;
    color: black;
    border: 1px solid black;
}

#main-table,
#main-table th,
#main-table td {
    border: 1px solid black;
}

#paging-panel-bottom {
    display: flex;
    align-items: center;
    gap: 5px;
}

#page-buttons-bottom {
    display: flex;
    gap: 5px;
}

.page-button {
    padding: 4px 8px;
    cursor: pointer;
    border-color: black;
    border-radius: 3px
}

.page-button.active {
    font-weight: bold;
    background-color: blanchedalmond;
    color: black;
}

.page-button:hover {
    background-color: antiquewhite;
    color: black;
}

.action-icon.edit-icon {
    background-color: blanchedalmond;
    mix-blend-mode: multiply;
}

.action-icon.delete-icon {
    background-color: blanchedalmond;
    mix-blend-mode: multiply;
}

.action-icon {
    cursor: pointer;
}

.action-icon:hover {
    opacity: 0.7;
}

.table-divider {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin-top: 16px;
}

#create-player-form111 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}

#create-player-form {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 10px 12px;
    max-width: 120px;
}